.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}
/* #images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} */
#favorites {
    /* content: ""; */
    width: 30px;
    height: 30px;
    background: url("C:/Users/Igor/Desktop/инструменталка/pr 3/img/svg/star_off.svg");
}
#lol { 
     /* display: flex; */
    /* display: inline; 
    
     justify-content: center;  */
     /* flex-wrap: wrap;  */
     /* align-self: stretch;   */
     /* display: flex;  */
  /* flex-wrap: wrap; */
  /* flex-direction: column;  */
  /* width: 500px;
  height: 400px;
  align-content: space-between; */
 }
/* #title{ 
}
#year{ 
} */
/* #images img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 3vh;
    padding: 2vh;
} */
img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 3vh;
    padding: 2vh;
}
h2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
p{
    width: 300px;
}
input[type="text"] {
    width: 400px;
    margin: 1vh auto;
    border-radius: 3px;
}

input[type="button"] {
    border-radius: 3px;
}